<div id="<%= dom_id course_student %>">
  <p>
    <strong>Course_id:</strong>
    <%= course_student.c_id %>
  </p>

  <p>
    <strong>Student_id:</strong>
    <%= course_student.s_id %>
  </p>

</div>
